.body {
  background-color: #1c68f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  position: relative;
  width: 80%;
  display: flex;
  flex-direction: row;
  height: 55vh;
  justify-content: space-between;
  align-items: center;
  gap: 5%;
  color: white;
}

.content .vector1 {
  position: absolute;
  margin-top: -25vh;
  margin-left: -5vw;
  fill: #c4c4c4;
}

.content .vector2 {
  position: absolute;
  margin-top: -35vh;
  margin-left: 60vw;
  fill: #c4c4c4;
}

.content .vector3 {
  position: absolute;
  margin-top: 35vh;
  margin-left: -2vw;
  fill: #c4c4c4;
}

.first {
  width: 60%;
  display: flex;
}

.second {
  font-size: 8vh;
  font-weight: 500;
  line-height: 10vh;
}

.third {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 165px;
  width: 33%;
  gap: 5%;
  padding-left: 0px;
  margin-left: 0px;
}

.fourth {
  font-size: 140%;
  font-weight: 400;
}

.fifth {
  display: flex;
  flex-direction: row;
  gap: 1vw;
  padding-left: 0px;
  margin-left: 0px;
  margin-right: auto;
}

.button_first {
  background-color: #e3ebfd;
  color: #1c68f5;
  border-radius: 8px;
  height: 8vh;
  width: 14vw;
  padding: 0px 2.5vw 0px 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2vw;
  cursor: pointer;
  font-weight: 500;
}

.button_second {
  background-color: #3268f1;
  color: white;
  border-radius: 8px;
  height: 8vh;
  width: 12vw;
  padding: 0px 2.5vw 0px 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.2vw;
  cursor: pointer;
  font-weight: 500;
}

@media only screen and (max-width: 770px) {
  .second {
    font-size: 6vw;
    line-height: 8vw;
  }

  .fourth {
    font-size: 110%;
    font-weight: 400;
  }

  .button_first {
    width: 16vw;
    font-size: 1.8vw;
  }

  .button_second {
    width: 16vw;
    font-size: 2vw;
  }
}

@media only screen and (max-width: 500px) {
  .content {
    width: 85%;
    flex-direction: column;
    height: 65vh;
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }

  .first {
    width: 90%;
  }

  .second {
    font-size: 8vw;
    font-weight: 500;
    line-height: 7vh;
  }

  .third {
    width: 90%;
    height: auto;
    gap: 3vh;
  }

  .fourth {
    width: 100%;
    font-size: 5vw;
  }

  .fifth {
    gap: 3vw;
  }

  .button_first {
    width: 30vw;
    font-size: 3.5vw;
  }

  .button_second {
    width: 30vw;
    font-size: 3.5vw;
  }

  .content .vector1 {
    margin-top: -45vh;
    margin-left: -45vw;
  }

  .content .vector2 {
    margin-top: -62vh;
    margin-left: 15vw;
  }

  .content .vector3 {
    margin-top: 50vh;
    margin-left: -85vw;
  }
}
