.body {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(163, 171, 185, 0.12);
     
}

.content {

    margin-top: 34px;
    margin-bottom: 60px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 34px;

}

.first {

    font-size: 36px;
    font-weight: 500;

}

.second {

    display: flex;
    flex-direction: row;
    gap: 16px;

}

.third {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex: 1;
    padding: 2%;
    background-color: #FFFFFF;
    gap: 12px;
    border-radius: 8px;

}

.third h4 {

    font-size: 20px;
    font-weight: 500;

}

.third p {

    font-size: 16px;
    font-weight: 400;
    color: #667085;

}


@media only screen and (max-width:500px){

    .second {

        flex-direction: column;
    
    }

    .third {

        align-items: center;
        padding: 34px 28px 34px 21px
    
    }

    .first {

        font-size: 7vw;
        text-align: center;
    
    }

}